<%- include('./Partials/head') %>
    <main>
        <!-- INTRODUCTION-->
        <div class="backgroundcolor-darkpurple">
            <img class="iologowhite" src="/download.png" alt="whitelogoio">
            <section class="section-introduction">
                <h1><%- data.name %><span class="ninja">🥷</span></h1>
                <h2><%- data.personalia.role %></h2>
                <p class="introduction-p"><%- data.introduction %></p>
            </section>
        </div>

        <!-- SOCIAL LINKS -->
        <section class="colorfulbutton">
            <button>EXAMPLE REGION - NL</button>
            <button class="clrdarkpurple">37 Years old</button>

            <button>
                <span><img class="githubicon" src="/github.png" alt=""></span>
                <span class="BeauTerHam">BeauTerHam</span>
            </button>

            <button class="clrdarkpurple">
                <span><img class="githubicon" src="/twitter.png" alt=""></span>
                <span class="BeauTerHam">WithButter</span>
            </button>

            <button>
                <span><img class="githubicon" src="/linkedin.png" alt=""></span>
                <span class="BeauTerHam">Beau ter Ham</span>
            </button>
        </section>

        <!-- INTRODUCTION (MOTIVATION) -->
        <section>
            <h3>Motivation</h3>
            <p class="motivationp"><%- data.motivation %></p>
        </section>

        <!-- SKILLS -->
        <section>
            <!-- <% data.skills.forEach(skills=> { %>
                <ul>
                    <li>
                        <%= skills.label %>
                    </li>
                </ul>
                <% }); %> -->
        </section>


        <!-- PROJECTS/WORK EXPERIENCE -->
        <section>
            <!-- <h3>Projects via iO</h3>
            <% data.projects.forEach(projects=> { %>
                <p>
                    September 2019-present
                </p>

                <p>
                    <%= projects.role %>
                </p>

                <p>
                    <%= projects.company %>
                </p>

                <p>
                    <%= projects.description %>
                </p <ul>
                <li>
                    Angular
                </li>

                <li>
                    CSS
                </li>

                <li>
                    JavaScript
                </li>

                </ul>
                <% }); %> -->
        </section>
    </main>
    <%- include('./Partials/foot') %>