<%- include('./Partials/head') %>
    <main>
        <!-- INTRODUCTION-->
        <div class="backgroundcolor-darkpurple">
            <section class="section-introduction">
                <h1><%- data.name %></h1>
                <h2><%- data.personalia.role %></h2>
                <h3><span><img class="iologoblack" src="/download.png" alt=""></span>Introduction</h3>
                <p class="introduction-p"><%- data.introduction %></p>
            </section>

            <section class="buttonlinks">
                <button>More about Beau</button>
                <button class="personalbutton">EXAMPLE REGION - NL</button>
                <button class="personalbutton">37 Years old</button>
                
                <button>
                    <span><img class="githubicon" src="/github.png" alt=""></span>
                    <span class="BeauTerHam">BeauTerHam</span>
                </button>

                <button>
                    <span><img class="githubicon" src="/twitter.png" alt=""></span>
                    <span class="BeauTerHam">WithButter</span>
                </button>

                <button>
                    <span><img class="githubicon" src="/linkedin.png" alt=""></span>
                    <span class="BeauTerHam">Beau ter Ham</span>
                </button>
                <img class="iologowhite" src="/download.png" alt="whitelogoio">
            </section>
        </div>


        <!-- SKILLS -->
        <div class="backgroundcolor-babypink">
            <h3 class="h3buttonskills"><span><img class="iologoblack" src="/iO-logo-black-002.png" alt=""></span>Skills
            </h3>

            <section>
                <button class="clrdarkpurple">Angular</button>
                <button class="clrdarkpurple">TypeScript</button>
                <button class="clrdarkpurple">JavaScript</button>
                <button class="clrdarkpurple">Scrum</button>
                <button class="clrdarkpurple">Cypress</button>
                <button class="clrdarkpurple">GraphQL</button>
                <button class="clrdarkpurple">Agile</button>
                <button class="clrdarkpurple">Jest</button>
                <button class="clrdarkpurple">CSS</button>
                <button class="clrdarkpurple">JQuery</button>
                <button class="clrdarkpurple">AngularJS</button>
                <button class="clrdarkpurple">Ember</button>
                <button class="clrdarkpurple">Laravel</button>
                <button class="clrdarkpurple">SVN</button>
                <button class="clrdarkpurple">SAFe</button>
            </section>
            <h1><span class="h1ninja">🥷</span></h1>
        </div> 



        <!-- INTRODUCTION (MOTIVATION) -->
        <section>
            <h3 class="motivationh3"><span><img class="iologoblack" src="/iO-logo-black-002.png" alt=""></span>Motivation</h3>
            <p class="motivationp"><%- data.motivation %></p>
        </section>

        <!-- PROJECTS/WORK EXPERIENCE -->
        <section>
            <!-- <h3>Projects via iO</h3>
            <% data.projects.forEach(projects=> { %>
                <p>
                    September 2019-present
                </p>

                <p>
                    <%= projects.role %>
                </p>

                <p>
                    <%= projects.company %>
                </p>

                <p>
                    <%= projects.description %>
                </p <ul>
                <li>
                    Angular
                </li>

                <li>
                    CSS
                </li>

                <li>
                    JavaScript
                </li>

                </ul>
                <% }); %> -->
        </section>


    </main>
    <%- include('./Partials/foot') %>