<%- include('./Partials/head') %>
<main>
<section>
<h1><%- data.name %></h1>
<h2><%- data.personalia.role %></h2>
<p><%- data.introduction %></p>

<p>EXAMPLE REGION - NL</p>
<p>37 Years old</p>

<p><%- data.socialLinks %></p>
<!-- <ul>
<li><%- data.socialLinks %></li>
<li><%- data.socialLinks %></li>
<li><%- data.socialLinks %></li>
</ul> -->
</section>

<section>
<h2>Motivation></h2>
<p><%- data.motivation %></p>

</section>
</main>


<%- include('./Partials/foot') %>